//
//  Common
//  _____________________________________________
& when (@media-common = true) {
  .page-footer {
    .lib-css(background, @footer__background-color);

    padding-bottom: 50px;
  }

  .footer {
    &.content {
      padding-top: 80px;

      h3 {
        .lib-css(color, @footer-color);

        margin-bottom: 20px;
        margin-top: 0;
      }

      .links {
        li {
          margin: 0 0 10px;
        }

        a {
          font-weight: @font-weight__bold;
          padding: 0;

          .lib-link(
            @_link-color: @footer-links-color,
            @_link-text-decoration: none,
            @_link-color-visited: @footer-links-color,
            @_link-text-decoration-visited: none,
            @_link-color-hover: @footer-links-color-hover,
            @_link-text-decoration-hover: none,
            @_link-color-active: @footer-links-color-hover,
            @_link-text-decoration-active: underline
            );
        }
      }
    }
  }

  .footer-row {
    #lib-layout-columns();

    .footer-column {
      .lib-layout-column(1, 1, 100%);
    }
  }
}

//
//  Mobile (style-m.css)
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .footer {
    &.content {
      .links {
        margin-bottom: 40px;
      }
    }
  }

  .footer-row {
    padding-left: @layout__width-xs-indent;
    padding-right: @layout__width-xs-indent;
  }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .page-footer {
    padding-bottom: 70px;
  }

  .footer.content {
    #lib-layout-columns();
  }

  .footer {
    &.content {
      ul {
        padding-right: 0;
      }

      .links {
        .lib-layout-column(2, 1, 50%);

        display: block;
        padding-right: 0;

        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 40px;
        }
      }
    }
  }

  .footer-row {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: @layout__max-width;
    padding-left: @layout-indent__width;
    padding-right: @layout-indent__width;
    width: auto;
    padding-top: 50px;

    .footer-column-left {
      .lib-layout-column(2, 1, 75%);
    }

    .footer-column-right {
      .lib-layout-column(2, 1, 25%);
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .footer {
    &.content {
      .links {
        .lib-layout-column(4, 1, 25%);

        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 0;
        }
      }
    }
  }
}