//
//  Common
//  _____________________________________________
& when (@media-common = true) {
  .block-customer-login,
  .block-new-customer {

    border-bottom: 1px solid @color-gray-middle1;
    // border-top: 1px solid @color-gray-middle1;

    .block-content {
      padding: 20px 0;
    }

    .field.choice {
      .label {
        color: @color-black;
        font-weight: @font-weight__bold;
      }
    }

    .field.note {
      display: none;
    }

    .action.remind {
      .lib-link-as-button();
      .lib-button();
      // .lib-button-primary();
      // .lib-button-revert-secondary-color();
    }
  }

  .login-container {
    .block-new-customer {
      .actions-toolbar {
        margin-top: 0;
      }
    }

    .fieldset {
      &:after {
        margin-top: 20px;
      }
    }
  }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .block-customer-login,
  .block-new-customer {
    border: 1px solid @color-gray-middle1;

    .block-content {
      padding: 20px 50px;
    }

    .actions-toolbar {
      > .primary,
      > .secondary {
        width: 48%;
      }

      .action.primary,
      .action.remind {
        width: 100%;
      }
    }
  }

  .login-container {
    .fieldset {
      > .field {
        > .control {
          width: 100%;
        }
      }
    }
  }
}