//
//  Actions-toolbar
//  _____________________________________________
@actions-toolbar-actions-links-secondary__margin-top: 0;
// @actions-toolbar-actions-primary__margin: 0 20px 0 0;


//
//  Common
//  _____________________________________________
& when (@media-common = true) {
  .actions-toolbar-container {
    margin-top: 25px;
    padding-top: 25px;
    position: relative;

    &::before {
      background-color: @color-gray-middle1;
      content: "";
      height: 1px;
      left: 0px;
      position: absolute;
      right: 0px;
      top: 0;
    }
  }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .actions-toolbar-container {
    &::before {
      left: -50px;
      right: -50px;
    }
  }
}