//
//  Title for login blocks
//  ---------------------------------------------
& when (@media-common = true) {
  .abs-login-block-title {
    .lib-css(border-bottom, 1px solid @color-gray-middle1);
    .lib-font-size(24);
    margin-bottom: 0px;
    padding: 20px 0;

    strong {
      font-weight: 700;
    }
  }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .abs-login-block-title {
    padding: 20px 50px;
  }
}