//
//  Colors
//  _____________________________________________
@color-black:                           #221e1f;
@primary__color:                        #29C2FF;
@primary__color-hover:                  #27B1E9;
@text__color:                           @color-black;

// Link
@link__color:                           @primary__color;
@link__active__color:                   @primary__color-hover;
@link__hover__color:                    @primary__color-hover;
@link__visited__color:                  @primary__color-hover;
@link__text-decoration:                 none;
@link__active__text-decoration:         @link__text-decoration;
@link__hover__text-decoration:          @link__text-decoration;
@link__visited__text-decoration:        @link__text-decoration;

//
//  Buttons
//  _____________________________________________
// Button Default
@button__background:                    @color-white;
@button__border-radius:                 0;
@button__border:                        1px solid @color-gray-middle1;;
@button__color:                         @color-black;
@button__font-size:                     @font-size__base;
@button__line-height:                   @font-size__base + 6;
@button__padding:                       14px 20px;
@button__hover__color:                  @color-black;
@button__hover__border:                 1px solid @color-gray-middle1;

// Button Primary
@button-primary__background:            @primary__color;
@button-primary__border:                1px solid @primary__color;
@button-primary__hover__background:     @primary__color-hover;
@button-primary__hover__border:         1px solid @primary__color-hover;

// Button Large
@button__font-size__l:                  @font-size__base;
@button__line-height__l:                @button__line-height;
@button__padding__l:                    18px 25px;

// Button Small
@button__font-size__s:                  @font-size__base;
@button__line-height__s:                @button__line-height;
@button__padding__s:                    8px 15px;

//
//  Forms
//  _____________________________________________
@form-element-input__background:        @color-gray-light0;
@form-element-input__border-radius:     4px;
@form-element-input__border:            1px solid @color-gray-light0;
@form-element-input__height:            48px;
@form-field-label__color:               @color-gray-light2;

//
//  Typography
//  _____________________________________________
// Fonts
@font-family-name__base:                '';
@font-family__base:                     @font-family-name__base, @font-family__sans-serif;

// h3
@h3__font-size:                         ceil((@font-size__base * 1.7)); // 24px
@h3__line-height:                       1.333; // 32px;

// Headings
@heading__font-weight__base:            @font-weight__bold;

//
//  Layout
//  _____________________________________________
// Copyright
@copyright__background-color:           @color-gray-middle4;

// Layout
@layout__max-width:                     1220px;

// Footer
@footer__background-color:              @color-black;
@footer-color:                          @color-white;
@footer-links-color:                    @color-gray-light2;
@footer-links-color-hover:              @primary__color;

//
//  Common
//  _____________________________________________
& when (@media-common = true) {
  .social-media {
    ul {
      .lib-list-inline();

      display: inline;
      font-size: 0;

      li {
        font-size: @font-size__base;
        margin: 17px 10px 0 0;

        &:last-child {
          margin-right: 0;
        }
      }

      a {
        color: @primary__color;
      }

      i {
        .lib-font-size(36);
      }
    }
  }
}
//
//  Desktop
//  _____________________________________________
// .media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {}