<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<div class="footer-bottom">
  <div class="footer-row">

    <div class="footer-column footer-column-left">
      <a class="footer-logo" href="<?= $block->getUrl('') ?>" title="Forza Refurbished">
        <img src="<?php echo $this->getViewFileUrl('images/logo-white.svg'); ?>" alt="Forza Refurbished">
      </a>
    </div><!-- .footer-column -->

    <div class="footer-column footer-column-right">
      <div class="social-media">
        <ul>
          <li>
            <a href="#" target="_blank" title="Facebook"><i class="fab fa-facebook-square"></i></a>
          </li>
          <li>
            <a href="#" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div><!-- .social-media -->
    </div><!-- .footer-column -->

  </div><!-- .footer-row -->
</div><!-- .footer-bottom -->