<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<div class="footer links">
	<?php // echo $block->getChildHtml('footer.links.customersupport') ?>

  <h3>Klantenservice</h3>

  <ul>
    <li><a href="#" title="Bestellen">Bestellen</a></li>
    <li><a href="#" title="Betaalmogelijkheden">Betaalmogelijkheden</a></li>
    <li><a href="#" title="Verzending en levering">Verzending en levering</a></li>
    <li><a href="#" title="Retouren & service">Retouren & service</a></li>
    <li><a href="#" title="Reparatie">Reparatie</a></li>
    <li><a href="#" title="Veel gestelde vragen">Veel gestelde vragen</a></li>
    <li><a href="#" title="Handleidingen en overstappen">Handleidingen en overstappen</a></li>
  </ul>
</div><!-- Footer Column 1 -->

<div class="footer links">
	<?php // echo $block->getChildHtml('footer.links.business') ?>

  <h3>Onze producten</h3>

  <ul>
    <li><a href="#" title="Wat is refurbished?">Wat is refurbished?</a></li>
    <li><a href="#" title="Keurmerk Refurbished">Keurmerk Refurbished</a></li>
    <li><a href="#" title="Duurzaamheid">Duurzaamheid</a></li>
    <li><a href="#" title="Algemene voorwaarden">Algemene voorwaarden</a></li>
    <li><a href="#" title="Productcondities">Productcondities</a></li>
    <li><a href="#" title="Controle door robots">Controle door robots</a></li>
    <li><a href="#" title="Garantie">Garantie</a></li>
    <li><a href="#" title="BTW en Thuiskopievergoeding">BTW en Thuiskopievergoeding</a></li>
  </ul>
</div><!-- Footer Column 2 -->

<div class="footer links">
	<?php // echo $block->getChildHtml('footer.links.zakelijk') ?>

  <h3>Zakelijke klant</h3>

  <ul>
    <li><a href="#" title="Zakelijke klant">Zakelijke klant</a></li>
    <li><a href="#" title="Nederland circulair in 2050">Nederland circulair in 2050</a></li>
    <li><a href="#" title="Forza Refurbished reseller">Forza Refurbished reseller</a></li>
  </ul>
</div><!-- Footer Column 3 -->

<div class="footer links">
	<?php // echo $block->getChildHtml('footer.links.about') ?>

  <h3>Over Forza Refurbished</h3>

  <ul>
    <li><a href="#" title="Contact">Contact</a></li>
    <li><a href="#" title="Over Forza Refurbished">Over Forza Refurbished</a></li>
    <li><a href="#" title="Werken bij Forza Refurbished">Werken bij Forza Refurbished</a></li>
    <li><a href="#" title="Privacy policy">Privacy policy</a></li>
    <li><a href="#" title="Erben Wennemars">Erben Wennemars</a></li>
    <li><a href="#" title="Kortingscode">Kortingscode</a></li>
    <li><a href="#" title="Nieuws">Nieuws</a></li>
  </ul>
</div><!-- Footer Column 4 -->